

.hentry.post.post-standard.sticky{
    background: none;
}

.post-thumb{
    box-shadow: 0 0 0 white !important;
}

.list-group-item{
    display: block;
    /* border-bottom: 1px solid black; */
    transition: .5s;
    font-size: 20px;
    background-color: gradient-
}
.list-group-item:hover{
    border-bottom: 1px solid green;
    width: 150px;
}
.list-group-item-action.active{
    
    margin-bottom: 1rem;
    padding: .7rem 0;
}
article.hentry.post.post-standard.sticky:before{
    content: none !important;
    display: none;
    visibility: hidden;
}
.post-standard{
    margin-bottom: 0 !important;
}
.post-thumb img{
    
}